$header-color: #78350F;
$black: #0F172A;
$light-orange: #FBBF24;
$blue: #0369A1;
$green: #15803D;
$purple: #A21CAF;
$background: linear-gradient(180deg, #FFFBEB 0%, #FFFFFF 89.63%);
$triangle-color:#FEF3C7;
$yellow: #FDE68A;
$white: #FFFFFF;
$light-green: #A3E635;
$brown: #78350F;
$dark-blue: #0F172A;








$font-family: "Roboto";

body {
    font-family: $font-family;
}
a{
    font-family: $font-family;
    text-decoration: none;
    transition: .3s all ease;
}